body
{
  width: 70%;
  min-width: 600px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  font-family: serif;
}

h1
{
  font-family: serif;
  font-size: 300%;
}

h2
{
  font-family: sans-serif;
  color: grey;
  font-size: 200%;
}

h3
{
  font-family: sans-serif;
  color: grey;
  font-size: 160%;
}

h4
{
  font-family: sans-serif;
  color: grey;
  font-size: 100%;
}

header
{
  margin-top: 3em;
  margin-bottom: 5em;
  text-align: center;
}

footer
{
  margin-top: 5em;
  margin-bottom: 3em;
  text-align: center;
  font-size: 70%;
}

#search
{
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

#textfield
{
  margin-top: 2em;
  padding: 1em;
  text-align: center;
}

#textfield input
{
  font-size:140%;
  text-align: center;
  border:solid 1px;
  width: 95%;
  height: 2em;
  font-family: serif;
}

#actionfield
{
  text-align:center;
  margin-top: 2em;
}

#actionfield button
{
  width: 150px;
  height: 3em;
  font-size: 100%;
  text-align: center;
  font-family: serif;
}

#metafield
{
  margin-top: 2em;
  margin-left:auto;
  margin-right:auto;
}

#metatable
{
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}


#metatable td
{
  width: 35%;
  vertical-align: top;
  padding: 0;
  margin: 0;
}

#metatable ul
{
  list-style: none;
  padding: 0;
  text-align: left;
}

#progress
{
  margin-top: 7em;
  font-size: 70%;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

#progress td
{
  width: 200px;
}
